/* 
.:: Variables ::.
*/

/*** [ Colors ] ***/
$color-primary: #ff8400;
$color-primary-lighter: #f39e43;
$color-primary-whiter: #ffebed;
$color-default-white: #fff;
$color-light-white: #f8f8f8;
$color-default-grey: #808080;
$color-light-grey: #d1d1d1;
$color-lighter-grey: #e5e5e5;
